/* /////////////Estilos Main - Secciones y articulo Salud ////////////////*/

#mainSalud{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    background: linear-gradient(180deg, rgba(130,151,201,1) 0%, rgba(223,231,242,1) 49%, rgba(204,169,181,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.seccionPrimeraSalud{
    height: 100%;
    width: 85%;
    margin: 0;
    padding: 0;
}

.articulo-nutricion{
    margin: 40px ;
    width: 80%;
    .nutricion-titulo{
        font-size: 20px;
        margin: 20px 0px;
        color: #ff4321;
    }
    .nutricion-texto{
        font-size: 14px;
        letter-spacing: 0.8px;
    }
}

    
.seccionSegundaSalud{
    
    height: 40%;
    width: 65%;
}
.alimentacion-opciones-titulo{
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    margin-left: 20px;
    color: #ff4321;
}
.alimentacion-opciones{
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista-opciones{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lista-opciones li{
    padding-top: 15px;
}
.icono-alimentacion{
    margin-bottom: 20px;
    width: 50px;
}


.seccionTerceraSalud{
    height: 60%;
    width: 90%;
}

.img-alimentacion{
    width: 90%;
    margin: 0px 20px;
}

.alimentos-evitar{
    margin: 30px 50px;

}
.alimentos-evitar-titulo{
    font-size: 20px;
    color: #ff4321;
    text-align: center;
    margin: 10px 0px;
}
.alimentos-evitar-texto{
    font-size: 14px;
    margin-top: 20px;
}