/* ///////////estilos de los div////////// */

.divInicio{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-left: 1240px;
    margin-top: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divRazas{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-left: 1250px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divSalud{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-left: 790px;
    margin-top: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divEntrenamiento{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-left: 1250px;
    margin-top: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCuriosidades{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin-left: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}