/* //////////////ESTILOS DEL FOOTER ///////////*/

#footer{
    margin-top: auto;
    width: 100%;
    height: auto;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-around; */
    background-color: rgb(226, 219, 202);
    h4{
        font-size: 14px;
    }    
}

/* footer logo */
.footerlcons{
    display: block;
    padding: 12px 0px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center; 
    // color: rgb(250, 79, 17);  
    // color: rgb(228, 73, 16); 
    // color: #ff6347;
    color: #ff4321;
    // filter: drop-shadow(0 2px rgb(193, 60, 4));
}
.imgIconsDog{
    width: 70px;
    height: 70px;
}
 
/* footer email */
.footerEmail{
    font-size: 15px;
    font-weight: bolder;
    text-align: center; 
    padding: 12px 0px;
    // color: rgb(250, 79, 17); 
    // color: rgb(228, 73, 16);
    // color: #ff6347;
    color: #ff4321;
    a{
        // color: rgb(250, 79, 17);
        // color: rgb(228, 73, 16);
        // color: #ff6347;
        color: #ff4321;
    }  
}

/* footer redes */
.footerRedes {
    font-size: 15px;
    font-weight: bolder;
    text-align: center; 
    padding: 12px 0px;
    // color: rgb(250, 79, 17);
    // color: rgb(228, 73, 16); 
    // color: #ff6347;
    color: #ff4321;
    a{
        display: inline-block;
    }
}

.imgLogoFace, .imgLogoInst, .imgLogoPint {
    width: 50px;
    height: 50px;
}
    