/* //////////////ESTILOS DEL FOOTER ///////////*/

#footer{
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 219, 202);
    h4{
        font-size: 14px;
    }    
}

/* footer logo */
.footerlcons{
    display: block;
    padding: 12px 0px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center; 
    color: #ff4321;
}
.imgIconsDog{
    width: 70px;
    height: 70px;
}
 
/* footer email */
.footerEmail{
    font-size: 15px;
    font-weight: bolder;
    text-align: center; 
    padding: 12px 0px;
    color: #ff4321;
    a{
        color: #ff4321;
    }  
}

/* footer redes */
.footerRedes {
    font-size: 15px;
    font-weight: bolder;
    text-align: center; 
    padding: 12px 0px;
    color: #ff4321;
    a{
        display: inline-block;
    }
}

.imgLogoFace, .imgLogoInst, .imgLogoPint {
    width: 50px;
    height: 50px;
}
    