/*///////////////// MEDIAS QUERIES //////////////////////*/

/* Small */
@media(min-width:576px){
            
            
}

/* Medium */
@media(min-width:768px){
        
}

/* Large */
@media(min-width:992px){
        
}

/* Extra-Large */
@media(min-width:1200px){

// //////////////////////////////// HEADER ///////////////////////////////
.nav {
    width: 100%;
    height: 14%;
    // border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.nav img, .nav a, .nav ul {
    display: inline-block;   
}
    
li, a {
    display: inline-block;
    list-style: none;
    font-style: none;
    text-decoration: none;
    color: black;
}
    
/* .nav ul li a {
    margin-left: 18px;
    font-size: 25px;
    color: black;
} */
    
/* .nav ul li a:hover {
    font-size: 32px;
    transition: 1s;
    font-weight: bold;
}
    
.imgLogo {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-left: 25px;
} */
    
.navLinks {
    display: flex;
    margin-left: 400px;  
}

.tituloPortadaInicio {
    /* padding-top: 50px;
    padding-left: 80px; */
    font-size: 32px;
    /* color: black; */
}
.primerParrafoInicio {
    /* border: 1px solid black; */
    height: 350px;
    width: 450px;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 21px;
    /* text-align: center;
    color: black; */
}

.tituloPortadaRazas{
/* margin-top: 50px; */
margin-left: 860px;
font-size: 32px;
}
.primerParrafoRazas{
/* border: 1px solid black; */
height: 250px;
width: 400px;
// margin-top: 70px;
margin-left: 860px;
font-size: 22px;
/* text-align:center;   */
}

.tituloPortadaSalud{
margin-top: 50px;
margin-left: 70px;
font-size: 30px;
}
.primerParrafoSalud{
/* border: 1px solid black; */
height: 250px;
width: 350px;
margin-top: 70px;
margin-left: 75px;
font-size: 20px;
/* text-align: start;   */
}
.tituloPortadaEntrenamiento{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
}
.primerParrafoEntrenamiento{
    /* border: 1px solid black; */
  height: 280px;
  width: 350px;
  margin: 50px 55px;
  font-size: 19px;
//   text-align: start;  
}

.tituloPortadaCuriosidades{
margin-top: 50px;
margin-left: 50px; 
font-size: 32px;
}
.primerParrafoCuriosidades{
/* border: 1px solid black; */
 height: 300px;
width: 300px;
margin-top: 70px;
margin-left: 55px; 
font-size: 28px;
/* text-align: start;  */
}

// ////////////////////////////// MAIN //////////////////////////////////////

//  ////////////////// MAIN - INICIO ///////////////////////
.hero-image-introduccion h2{
font-size: 40px;
padding: 20px;
}
/* .hero-image h2:hover{
font-size: 50px;
transition: 1s;
} */
.hero-image-introduccion p{
width: 72%;
font-size: 20px;
margin: 15px 100px;
font-weight: 500;
letter-spacing: 1px;
}
/* .hero-image p:hover{
font-size: 31px;
transition: 0.1s;
} */
.carousel-inner div img{
width: 100%;
height: 100vh;
padding: 20px 190px;
}


.hero-image-desenlance {
    .header-titulo{
        font-size: 22px;
        font-weight: bolder;
    }
    h2{
        font-size: 17px;
        text-align: center;
        }
}
.hero-image-desenlance p{
   font-size: 15px;
   text-align: start;
}
.hero-image-desenlance ul li{
display: list-item;
list-style-type: disc;
font-size: 15px;
}

.historia-desenlace{
    padding: 55px 105px;
/* margin: 0;
width: 100%;
height: 100vh; */
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 10% 20% 20% 20% 20% 10%;
grid-template-areas:
"header   header   header   header    header    header    header    header    header    colores  colores  colores"
"gral     gral     gral     tamaño    tamaño    pelo    pelo      pelo      pelo      colores  colores  colores"
"gral     gral     gral     tamaño    tamaño    pelo    pelo      pelo      pelo      colores  colores  colores"
"personalidad personalidad personalidad personalidad personalidad pelo  pelo pelo pelo colores colores colores"
"personalidad personalidad personalidad personalidad personalidad conviv  conviv conviv conviv conviv conviv conviv"
"footer-des footer-des footer-des footer-des footer-des footer-des footer-des footer-des footer-des divInicio divInicio divInicio"
;
}
/* .historia-desenlace > *{
border: thin solid #222;
} */
.header{
grid-area: header;
}
.gral{
grid-area: gral;
}
.tamaño{
grid-area: tamaño;
}
.pelo{
grid-area: pelo;
}
.personalidad{
grid-area: personalidad;
}
.colores{
grid-area: colores;
}
.conviv{
    grid-area: conviv;   
}
.footer-des{
grid-area: footer-des;
}

.divInicio{
grid-area: divInicio;
}

.header,
.gral,
.tamaño,
.pelo,
.personalidad,
.colores,
.conviv,
.footer-des
{
background-color: white;
margin: 8px;
padding: 35px;
border-radius: 20px;
}

//  ////////////////// MAIN - RAZA ///////////////////////

#seccionPrincipalRaza{
width: 100%;
height: 1640px;
border: 1px solid transparent;
}

.raza1, .raza2, .raza3, .raza4, .raza5, .raza6, .raza7{
width: 95%;
height: 13.3%;
border-bottom: 1px solid black;
margin: 10px 30px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
p{
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}
h3{
    text-align: center;
}
}
.div-img-raza img {
width: 280px;
height: 200px;
}
.div-texto-raza1,
.div-texto-raza2,
.div-texto-raza3,
.div-texto-raza4,
.div-texto-raza5,
.div-texto-raza6,
.div-texto-raza7{
width: 900px;

}

//  ////////////////// MAIN - SALUD ///////////////////////

#mainSalud{
width: 100%;
height: 1460px;
/* border: 1px solid black; */
display: flex;
flex-flow: column;
flex-wrap: wrap;
/* background-image:url(../img/fondoMainSalud.jpg);
background-position: center;
background-size: cover; */
/* color: rgb(6, 6, 5); */
/* background-repeat: no-repeat; */

}
.seccionPrimeraSalud{
height: 100%;
width: 35%;
/* border: 1px solid black; */
margin: 0;
padding: 30px; 
/* background-color: rgb(217, 217, 217); */
}

.nutricion-titulo{
font-size: 26px;
margin: 20px 0px;
}
.nutricion-texto{
font-size: 16px;
letter-spacing: 0.7px;
}

.alimentacion-opciones{
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.alimentacion-opciones-titulo{
font-size: 26px;
/* text-align: center;
margin-top: 50px; */
}
.seccionTerceraSalud{
height: 60%;
width: 65%;
/* border: 1px solid black; */
/* background-color: rgb(255, 255, 255); */
}
.alimentos-evitar-titulo{
font-size: 26px;
text-align: center;
margin: 10px 0px;
}
.alimentos-evitar-texto{
font-size: 16px;
margin-top: 20px;
}


//  ////////////////// MAIN - Entrenamiento ///////////////////////

#seccionPrimeraEntrenamiento{
    width: 100%;
    height: 20%;
    margin: 0px 0px;
    border: 1px solid transparent;
    // background-color: rgb(217, 217, 217);
    .entrenamiento-introduccion{
        // border: thin solid black;
        border-radius: 20px;
        width: 70%;
        height: 200px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        background-color: white;
        p{
            font-size: 17px;
            text-align: center;
            line-height: 1.5;  
        }
    
    }
}
.img-entrenamiento-card{
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}


#seccionSegundaEntrenamiento{
    width: 100%;
    height: 80%;
    border: 1px solid transparent;
    // background-color: rgb(201, 188, 157)
    .card-entrenamiento{
        margin: 20px 180px;
        padding: 60px;
    }

    .tips-entrenamiento{
        // border: thin solid rgb(176, 23, 23) ;
        margin: 20px 120px;
        margin-bottom: 60px;
        padding: 20px 60px;
        .tips-entrenamiento-ul li{
            font-size: 17px;
            box-sizing: content-box;
            margin: 5px 15px;
            padding: 5px 15px;
            text-align: start;
        }
    }
}

//  ////////////////// MAIN - Curiosidades ///////////////////////

#mainCuriosidades{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    // background: linear-gradient(180deg, rgba(235,238,241,1) 0%, rgba(189,195,199,1) 42%, rgba(44,62,80,1) 100%);
}

#seccionPrimeraCuriosidades{
    width:60% ;
    height: 100%;
    border: 1px solid transparent;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // background-color: rgb(217, 217, 217);
}

.articuloCuriosidades{
    // width: 80%;
    // height: 40%;
    // border: 1px solid black;
    // border-radius: 2%;
    // background-color: rgb(248, 246, 240);
    // padding: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // gap:30px;
    // .articuloCuriosidades-div{
    //     border: 1px solid black;
    //     border-radius: 20px;
    //     padding: 20px;
    //     width: 80%;
    //     height: 25%;
    //     .articuloCuriosidades-titulo{
    //         text-align: center;
    //     }
        
    // }
    .articuloCuriosidades-img{
        width: 550px;
        height: 400px;
    }
}
    
#seccionSegundaCuriosidades{
    width: 40%;
    height: 100%;
    border: 1px solid transparent;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    // background-color: rgb(217, 217, 217);
}
.asideCuriosidades{
    width: 80%;
    height: 100%;
    // border: 1px solid black;
    border-radius: 2%;
    background-color: rgb(248, 246, 240);
    padding: 35px;
}

textarea{
    width: 340px;
    height: 240px;
}

iframe{
    width: 340px;
    height: 480px;
}

// ///////////////////// Div ///////////////////////////////////////
.divInicio{
    margin-left: 205px;
    margin-top: 30px;
}


//  ///////////////////////////// FOOTER //////////////////////////////

#footer{
margin-top: auto;
width: 100%;
height: 162px;
// border: 1px solid black;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
background-color: rgb(226, 219, 202);  
h4{
    font-size: 18px;
}   
}

}
