/*/////// Estilos Main - Secciones y articulo Inicio ////////*/

#seccionPrincipalHistoria {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(135,101,48,0.9948354341736695) 0%, rgba(211,203,184,1) 57%);
}
.historia-introduccion {
    width: 100%;
    height: 100vh;
    //  border: 1px solid black; 
    background-color: rgb(217, 217, 217);
}
.hero-image-introduccion{
    min-height: 100vh;
    background-image: url(../img/huella1.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(6, 6, 5);
    background-repeat: no-repeat;
    // transform: rotate(20deg 50deg);
}
.hero-image-desenlance{
    /* background-color: rgb(201, 188, 157); */
    // background-color: rgb(226, 219, 202);
}

.hero-image-introduccion div{
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 230, 218, 0.47);
    background-image: linear-gradient(to top,  rgba(229, 230, 218, 1) ,  rgba(229, 230, 218, 0.001) );
    /* 0.75 del bg es la opacidad */
    text-align: center;
    
}
.hero-image-introduccion h2{
    font-size: 25px;
    padding: 4px;
}
/* .hero-image h2:hover{
    font-size: 50px;
    transition: 1s;
} */
.hero-image-introduccion p{
    width: 92%;
    height: auto;
    font-size: 12px;
    margin: 4px 10px;
    font-weight: bold;
    // letter-spacing: 0.3px;
}
/* .hero-image p:hover{
    font-size: 31px;
    transition: 0.1s;
} */

.historia-desarrollo {
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    // background-color: rgb(226, 219, 202);
    /* background-image:url(../img/huella1.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(6, 6, 5);
    background-repeat: no-repeat; */
}
.carousel-inner div img{
    width: 100%;
    height: 100vh;
    padding: 80px 20px;
}

.hero-image-desenlance h2{
    font-size: 12px;
    text-align: center;
   }
   .hero-image-desenlance p{
       font-size: 12px;
       text-align: start;
   }
   .hero-image-desenlance ul {
    padding-left: 20px;
    li{
    display: list-item;
    list-style-type: disc;
    font-size: 12px;
    text-align: start;
    }
    }

.historia-desenlace{
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2,5% 11% 8% 29% 26% 18% 3% 2,5%;
    grid-template-areas:
    "header header header header"
    "gral gral gral gral"
    "tamaño tamaño tamaño tamaño"
    "pelo pelo pelo pelo"
    "colores colores colores colores"
    "personalidad personalidad personalidad personalidad"
    "conviv  conviv  conviv  conviv"
    "footer-des footer-des footer-des divInicio";}

.header{
    grid-area: header;
    }
    .gral{
    grid-area: gral;
    }
    .tamaño{
    grid-area: tamaño;
    }
    .pelo{
    grid-area: pelo;
    }
    .personalidad{
    grid-area: personalidad;
    }
    .colores{
    grid-area: colores;
    }
    .conviv{
        grid-area: conviv;   
    }
    .footer-des{
    grid-area: footer-des;
    }
    .divInicio{
        grid-area: divInicio;
        }
    .header,
    .gral,
    .tamaño,
    .pelo,
    .personalidad,
    .colores,
    .conviv,
    .footer-des
    {
    background-color: white;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    }