/*/////// Estilos Main - Secciones y articulo Inicio ////////*/

#seccionPrincipalHistoria {
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(135,101,48,0.99) 0%, rgba(229,230,218,1) 71%);
}
.historia-introduccion {
    width: 100%;
    height: 100vh;
    background-color: rgb(217, 217, 217);
}
.hero-image-introduccion{
    min-height: 100vh;
    background-image: url(../img/huella1.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(6, 6, 5);
    background-repeat: no-repeat;   
}

.hero-image-introduccion div{
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 230, 218, 0.47);
    background-image: linear-gradient(to top,  rgba(229, 230, 218, 1) ,  rgba(229, 230, 218, 0.001) );
    text-align: center;
    
}
.hero-image-introduccion h2{
    font-size: 25px;
    padding: 4px;
    color: #ff4321;
}

.hero-image-introduccion p{
    width: 92%;
    height: auto;
    font-size: 12px;
    margin: 4px 10px;
    font-weight: bold;
}

.historia-desarrollo {
    width: 100%;
    height: 100vh;
}
.carousel-inner div img{
    width: 100%;
    height: 100vh;
    padding: 80px 20px;
}


.hero-image-desenlance {
    .header-titulo{
        font-size: 16px;
        font-weight: bolder;
    }
    h2{
        font-size: 14px;
        text-align: center;
        color: #ff4321;
        }
}
   .hero-image-desenlance p{
       font-size: 12px;
       text-align: start;
   }
   .hero-image-desenlance ul {
    padding-left: 10px;
    li{
    display: list-item;
    list-style-type: disc;
    font-size: 12px;
    text-align: start;
    }
    }

.historia-desenlace{
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2,5% 11% 8% 29% 26% 18% 3% 2,5%;
    grid-template-areas:
    "header header header header"
    "gral gral gral gral"
    "tamaño tamaño tamaño tamaño"
    "nombres nombres nombres nombres"
    "pelo pelo pelo pelo"
    "colores colores colores colores"
    "personalidad personalidad personalidad personalidad"
    "algunasCuriosidades algunasCuriosidades algunasCuriosidades algunasCuriosidades"
    "conviv  conviv  conviv  conviv"
    "footer-des footer-des footer-des divInicio";}

.header{
    grid-area: header;
    }
    .gral{
    grid-area: gral;
    }
    .tamaño{
    grid-area: tamaño;
    }
    .nombres{
        grid-area: nombres;
    }
    .pelo{
    grid-area: pelo;
    }
    .personalidad{
    grid-area: personalidad;
    background-image: url(../img/imgGrid3.4.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat; 
    }
    .colores{
    grid-area: colores;
    background-image: url(../img/imgGrid2.jpg);
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat; 
    }
    .algunasCuriosidades{
        grid-area: algunasCuriosidades;
        background-image: url(../img/imgGrid.jpg);
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;  
    }
    .conviv{
        grid-area: conviv;
    }
    .footer-des{
    grid-area: footer-des;
    }
    .divInicio{
        grid-area: divInicio;
        }
    .header,
    .gral,
    .tamaño,
    .pelo,
    .personalidad,
    .colores,
    .algunasCuriosidades,
    .conviv,
    .footer-des,
    .nombres
    {
    background-color: white;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    }

    .listaColores{
        margin-top: 170px;
    }
    .listaAlgunasCuriosidades{
        margin-bottom: 200px;
    }
    .listaPersonalidad{
        margin-bottom: 150px;
    }