/* ///////////////Estilos Main - Secciones y articulo Raza ////////////// */

#seccionPrincipalRaza{
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(75,87,96,1) 0%, rgba(228,225,220,1) 78%);
}

.raza1, .raza2, .raza3, .raza4, .raza5, .raza6, .raza7{
    width: 95%;
    height: auto;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p{
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
    }
    h3{
        text-align: center;
        color: #ff4321;
    }
}

.raza2, .raza4, .raza6{
    flex-direction: row-reverse;
}
.div-img-raza img {
    width: 280px;
    height: 200px;
}
.div-texto-raza1,
.div-texto-raza2,
.div-texto-raza3,
.div-texto-raza4,
.div-texto-raza5,
.div-texto-raza6,
.div-texto-raza7{
    width: 900px;
}