/* Estilos Main - Secciones y articulo Entrenamiento */

#mainEntrenamiento{
    width: 100%;
    height: 1460px;
    border: 1px solid black;
    
}

#seccionPrimeraEntrenamiento{
    width: 100%;
    height: 30%;
    border: 1px solid black;
    background-color: rgb(217, 217, 217);
}
#seccionSegundaEntrenamiento{
    width: 100%;
    height: 70%;
    border: 1px solid black;
    background-color: rgb(201, 188, 157)
}